.heading-container{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.input-container{
  padding:20px
}

.mesurment-value{
text-align: center;
  font-size: 14px;

}

.mt-4{
  margin-top: 20px;
}